# Ignore the environment
conda-env

# Ignore my own resource links and notes
notes_ignore

# Ignore notebook checkpoints
**/*.ipynb_checkpoints/

# Ignore geckodriver logs
geckodriver*
geckodriver.log
chromedriver

# Ignoring the weird pycharm .idea file
.idea

# Ignoring log files
.log

# Ignoring pycache
__pycache__

# Ignoring test cases
example.py

# Ignoring data
*.csv

# Ignoring archive folder
archive

# Ignoring rhistory
.Rhistory

# Adding irrelevant datasets
census-regions
simplemaps_uscities_basicv1.6

# Ignore data files that are large
user_data*

# Vscode
.vscode/

# Bash script to run data pipeline
pull_and_merge_data

# Ignoring data
**/data
