# Ignore the environment
conda-env

# Ignore my own resource links and notes
notes_ignore

# Ignore notebook checkpoints
**/*.ipynb_checkpoints/

# Ignore geckodriver logs
geckodriver.log

# Ignoring the weird pycharm .idea file
.idea
